body {
    font-family: sans-serif;
    background: url("../images/tela-fundo-login.png");
    background-position: fixed;
    background-repeat: none;
    background-size: cover;
    width: 1602px;
    height: 1062px;
    margin: 0px;
    user-select: none;
}

#tela-inicial {
    margin-left: 230px;
    width: 1602px;
    height: 1062px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tela-inicial #container {
    width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#tela-inicial #logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    img {
        width: 240px;
        height: 175px;
    }
    a {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
}

#tela-inicial #login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 500px;
    height: 120px;
    border: 1px solid white;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 47, 156, 1), rgba(255, 0, 0, 0));
    img {
        margin-left: 7px;
        width: 100px;
        height: 100px;
        border: 2px solid yellow;
        border-radius: 5px;
    }
}

#login #texto-campo {
    position: relative;
    top: 15px;
    span {
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
    a {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    #inpSenha {
        width: 230px;
        height: 40px;
        border: 2px solid white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        outline: none;
        font-size: 26px;
    }
}

#login #texto-campo #senha img {
    position: relative;
    top: 14px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: ease 0.2s;
}

#login #texto-campo #senha img:hover{
    transform: scale(1.1);
    cursor: pointer;
}