@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/tahoma.ttf');
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    user-select: none;
    font-family: 'Tahoma';
}

#area-trabalho {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/wallpaper-xp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#area-trabalho #aplicativos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;

    .icone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        height: 140px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 1px black;

        img {
            padding-top: 10px;
            width: 60px;
            height: 60px;
        }
    }

}

.icone:focus{
    background-color: rgba(0,0,255,0.5);
    border: 1px solid #003bda;
}

#barra-tarefa {
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #0855dd;
    box-shadow: inset 6px 6px 4px #3a7fee, inset -3px -3px 4px #002057;
}

#barra-tarefa #iniciar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 170px;
    height: 100%;
    background-color: #30a53a;
    box-shadow: inset -6px -6px 6px #19581f, inset 6px 6px 4px #61b868;
    transition: 0ms;

    img {
        padding-left: 20px;
        width: 31px;
        height: 29px;
    }

    b {
        font-size: 24px;
        font-style: italic;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        color: #eeeeee;
    }
}

#tarefas {
    padding-left: 5px;
    box-sizing: border-box;
    height: 100%;
    width: 1600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .aplicacao {
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 3px;
        background-color: #336fd8;
        box-shadow: inset -1px -1px 1px 1px #5987d6, inset 1px 1px 1px 1px #5987d6;
        width: 250px;
        height: 40px;

        img {
            padding-left: 10px;
            width: 30px;
            height: 30px;
        }

        a {
            padding-left: 10px;
            color: white;
            font-size: 18px;
        }
    }
}

#menu {
    position: absolute;
    bottom: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 500px;
    height: 670px;
    background-color: #eeeeee;
    box-shadow: inset -2px -2px #0831d9, inset 1px 1px #0831d9, inset -3px -3px #0831d9, inset 3px 3px #166aee, inset -5px -5px #003bda, inset 5px 5px #0855dd, 0px 0px 10px 1px rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menu #conteudo {
    width: 500px;
    height: 500px;
}

#menu #cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    height: 100px;
    width: 500px;

    img {
        margin-left: 10px;
        width: 70px;
        height: 70px;
        border: 2px solid #0f1089;
    }

    p {
        margin-left: 20px;
        font-size: 28px;
        color: white;
        text-shadow: 2px 2px #0f1089;
    }
}

#menu #rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    box-sizing: border-box;
    height: 70px;
    width: 500px;

    #sair {
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80px;
        height: 50px;

        img {
            width: 40px;
            height: 40px;
            transition: filter 0.1s ease;
        }

        a {
            font-size: 20px;
            color: white;
        }
    }

    #sair:hover {
        img {
            filter: brightness(1.2);
        }
    }

    #sair:active {
        img {
            filter: brightness(0.9);
        }
    }
}

#barra-tarefa #indicador-sistema {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    background-color: #018cc8;
    box-shadow: inset -3px -3px 4px #015275, inset 6px 6px 4px #01adc8;

    a {
        font-size: 16px;
        color: white;
        text-align: center;
    }
}

#caixa-erro {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 240px;
    background-color: #EEEEEE;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset -2px -2px #00138c, inset 1px 1px #0831d9, inset -3px -3px #001ea0, inset 3px 3px #166aee, inset -5px -5px #003bda, inset 5px 5px #0855dd, 0px 0px 10px 1px rgba(0,0,0,0.5);
}

#caixa-erro #barra-titulo-erro {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 400px;

    #erro-titulo {
        padding-left: 5px;
        color: #FFFFFF; 
        font-size: 24px;
        pointer-events: none;
        text-shadow: 2px 2px #0f1089;
    }
}

#caixa-erro #conteudo {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;

    button {
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        box-sizing: border-box;
        border: 1px solid #003c74;
        background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
        box-shadow: none;
        border-radius: 3px;
        width: 120px;
        height: 30px;
    }

    button:hover {
        box-shadow: inset -2px 2px 2px #FC0, inset 2px -2px 2px #FA0;
    }

    button:not(:disabled).active, button:not(:disabled):active {
        box-shadow: none;
        background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1);
        box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    }

    button.focused, button:focus {
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
        outline: 1px dotted #000;
        outline-offset: -4px;
    }
}

#caixa-erro #conteudo #icone-erro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;

    img {
        width: 60px;
        height: 60px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 100px;
        text-align: center;
    }
}

#caixa-erro #conteudo #botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

