@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/tahoma.ttf');
}

#janela-internet-explorer {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1196px;
    height: 804px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset -2px -2px #00138c, inset 1px 1px #0831d9, inset -3px -3px #001ea0, inset 3px 3px #166aee, inset -5px -5px #003bda, inset 5px 5px #0855dd, 0px 0px 10px 1px rgba(0,0,0,0.5);
}

#janela-internet-explorer #barra-titulo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 1196px;

    #titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        color: #FFFFFF;
        width: 210px;
        font-size: 24px;
        pointer-events: none;
        text-shadow: 2px 2px #0f1089;

        img {
            padding-left: 5px;
            padding-right: 5px;
            height: 20px;
            width: 20px;
        }
    }

    #controles {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70px;
        img {
            padding-right: 5px;
            height: 30px;
            width: 30px;
            transition: filter 0.1s ease;
        }

        img:hover {
            filter: brightness(1.2);
        }

        img:active {
            filter: brightness(0.9)
        }
    }

}

#janela-internet-explorer #conteudo {
    width: 100%;
    height: 764px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#janela-internet-explorer #conteudo #barra-navegacao {
    width: 100%;
    height: 94px;
    background-image: url('../images/internet-explorer/barra-navegacao.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#janela-internet-explorer #conteudo #barra-endereco {
    width: 1186px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #EEEEEE;

    span {
        padding-left: 5px;
    }

    #selSite {
        margin-left: 5px;
        width: 800px;
        height: 20px;
        font-size: 16px;
    }
}

#conteudo-windows {
    overflow: auto;
    width: 99.1%;
    height: 83.2%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: url('../images/wallpaper-blog.jpg');
    background-size: 20%;

    #pagina {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: justify;
        box-sizing: border-box;
        background-color: #CCCCFF;
        border-right: 2px solid;
        border-left: 2px solid;
        border-color: #8888FF;
        width: 900px;
        height: auto;

        b {
            font-size: 26px;
        }

        span {
            font-size: 22px;
            font-weight: bold;
        }

        p {
            font-size: 18px;
        }

        img {
            width: 800px;
            height: 400px;
        }
    }
}

#conteudo-orkut {
    overflow: auto;
    width: 99.1%;
    height: 83.2%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ccdfff;

    #navbar {
        width: 100%;
        height: 25px;
        color: white;
        background-color: #84b0fa;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        span {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    #opcoes-orkut {
        width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        span {
            padding: 7px;
            color: white;
            border-radius: 3px;
            background-color: #84b0fa;
        }

    }

    #inicio {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;

        img {
            width: 180px;
            height: 42.5px;
        }

        #buscar {
            width: 320px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            input {
                width: 250px;
            }
        }
    }

    #pagina {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        #perfil {
            height: 640px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            img {
                width: 220px;
                height: 220px;
                border: 1px solid;
                border-color: #78a3eb;
            }

            #opcoes {
                padding-left: 20px;
                width: 200px;
                height: 400px;
                background-color: white;
                border: 1px solid;
                border-color: #78a3eb;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;

                p {
                    padding: 0px;
                    margin: 0px;
                    font-size: 22px;
                }

                i {
                    color: gray;
                }
            }
        }

        #feed {
            margin-left: 10px;
            margin-right: 10px;
            padding: 20px;
            width: 585px;
            height: 600px;
            background-color: white;
            border: 1px solid;
            border-color: #78a3eb;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            text-align: justify;

            img {
                width: 576px;
                height: 324px;
            }

            b {
                color: #06f;
            }

            #foto-nome {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;

                b {
                    padding: 15px;
                    font-size: 16px;
                    color: #06f;
                }

                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }

        #amigos {
            padding: 20px;
            width: 230px;
            height: 200px;
            background-color: white;
            border: 1px solid;
            border-color: #78a3eb;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            text-align: justify;

            #lista {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .foto-nome {
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;

                    p {
                        padding: 0px;
                        margin: 0px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            u {
                color: #06f;
            }
        }
    }
}